.main-vbox {
    -fx-spacing: 20;
    -fx-padding: 10;
    -fx-font-family: 'Consolas';
    -fx-font-size: 16px;
    -fx-background-color: rgba(256, 256, 256, 0.85);
}

.title-label {
    -fx-font-size: 60px;
    -fx-text-fill: linear-gradient(to bottom right, blue, red);
}

.info-label{
    -fx-font-size: 30px;
    -fx-text-fill: linear-gradient(to bottom right, blue, red);
}
.player-box {
    -fx-spacing: 10;
}

.player1-label{
    -fx-text-fill: blue;
    -fx-font-size: 20px;
}

.player2-label{
    -fx-text-fill: red;
    -fx-font-size: 20px;
}

.setting-label{
    -fx-text-fill: #535353;
}

.start-game-button {
    -fx-background-color: #ffffff;
    -fx-border-color: linear-gradient(to bottom right, blue, red);
    -fx-text-fill: linear-gradient(to bottom right, blue, red);
    -fx-spacing: 0;
}

.player1-score, .player2-score{
    -fx-padding: 20;
    -fx-font-family: 'Consolas';
    -fx-font-size: 26px ;
    -fx-font-weight: 700;
    -fx-text-fill: WHITE;
}

.player1-score{
    -fx-effect: dropshadow(gaussian ,BLUE, 17, 0.65 , 0 , 0);
}

.player2-score{
    -fx-effect: dropshadow( gaussian ,RED, 17, 0.75 , 0 , 0);
}

.menu_button {
    -fx-background-color: #b7b7b7;
    -fx-border-radius: 70;
    -fx-background-radius: 700;
    -fx-border-color: #4b4c4d;
}

.menu_button:hover {
    -fx-background-color: #7f8ab4;
}

.menu_button:pressed {
    -fx-background-color: #638ccb;
}